.section {
  padding: 30px;
}

.flex, .row {
  display: flex;
  margin: 0 -10px;
}

.col {
  flex: 1;
  padding: 10px
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #e3e3e3;
}